
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  background-color: blueviolet;
  padding: 30px;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkturquoise;
}
.content {
  min-height: calc(100vh - 200px); 
}
.footer {
}
.header {
}
